.intro {
    display: flex;
    gap: 3rem;
    margin: 6rem auto;
    width: 90%;
    max-width: 75rem;
}

.slideshow {
    width: 40rem;
    height: 25rem;
}

.hero {
    color: #ddd6cb;
    font-size: 1.5rem;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    background: linear-gradient(#f92a31, #f9ae2a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
